L<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">DeppL Web Translator</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="">About</a>
      <a class="nav-item nav-link" href="">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="" target="_blank">
        <i class="fa fa-facebook-official" style="font-size:24px"></i>
      </a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href=""_blank">
        <i class="fa fa-twitter-square" style="font-size:24px"></i>
      </a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="" target="_blank">
        <i class="fa fa-instagram" style="font-size:24px"></i>
      </a>
    </div>
  </div>
</nav>
</body>
</html>
