#translator_button_in, #translator_button_out {
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 15px;
  margin-top: 15px;
}

#button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 15px;
  margin-top: 15px;
}

#input_textarea, #output_textarea {
  width: 95%;
  min-width: 50%;
  min-height: 250px;
  outline: none;
  margin-bottom: 25px;
}

.bg {
  /* The image used */
  background-image: url("https://www.mhp.com/fileadmin/www.mhp.com/assets/images/home-main-slider/MHP_Slider_Kapitel_1920x960px.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
