#translator_button_in {
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 15px;
  margin-top: 15px;
  padding-right: 50px;
  border-radius: 85px;
  box-shadow: 0px 0px 5px #888
}

#translator_button_out {
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 15px;
  margin-top: 15px;
  padding-right: 65px;
  border-radius: 85px;
  box-shadow: 0px 0px 5px #888
}

#button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 15px;
  margin-top: 15px;
  border-radius: 85px;
  box-shadow: 0px 0px 5px #888
}

#input_textarea, #output_textarea {
  width: 95%;
  min-width: 50%;
  min-height: 250px;
  outline: none;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px #888
}

.bg {
  /* The image used */
  background-image: url("https://www.mhp.com/fileadmin/www.mhp.com/assets/images/home-main-slider/MHP_Slider_Kapitel_1920x960px.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.select {
  position: relative;
  display: inline-block;
  width: 100%;
}    .select select {
       font-family: 'Arial';
       display: inline-block;
       width: 100%;
       outline: 0;
       border: 0px solid #000000;
       border-radius: 85px;
       background: #008cba;
       color: #ffffff;
       appearance: none;
       -webkit-appearance: none;
       -moz-appearance: none;
     }
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000000;
  background: #CCCCCC;
}
.select select:disabled {
  opacity: 0.6;
  pointer-events: none;
}
.select_arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 13px;
  height: 13px;
  border: solid #7B7B7B;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-color: #000000;
}
.select select:disabled ~ .select_arrow {
  border-top-color: #CCCCCC;
}
